* {
    /* margin: 0rem;
    padding: 0rem; */
    box-sizing: border-box;
}

body {
    background-color: hsl(108, 78%, 64%);
    color: rgb(11, 10, 10);
}

button {
    width: 6rem;
    height: 1.5rem;
    background-color: brown;
    font-size: large;
}

h1 {
    color: blue;
    /* text-decoration: line-through; */
}